@media screen and (orientation: landscape) {
    div.window {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    div.section-wrapper {
        padding: 0;
        margin: 0;
        height: 100vh;
        max-width: 700px;
        overflow-y: scroll;
    }
    
    section {
        padding: 1rem;
        text-align: center;
        position: relative;
    }

    div.category {
        width: 100%;
    }
    
    table {
        padding: 1rem;
        width: 100%;
        text-align: left;
    
        th {
            font-size: 1.4em;
            font-weight: bolder;
        }
    
        td {
            font-size: 1.4em;
        }
    
        .price {
            text-align: right;
        }
    }
    
    div.navigation {
        display: none;
    }
}

@media screen and (orientation: portrait) {
    div.window {
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    
    div.section-wrapper {
        padding: 0;
        margin: 0;
        width: 200vw;
        scroll-snap-align: start;
    }
    
    section {
        padding: 1rem;
        padding-bottom: 7em; // height of navigation
        width: 100vw;
        height: 100vh;
        overflow: auto;
        text-align: center;
        position: relative;
    }

    div.category {
        width: calc(100vw - 2em);
    }
    
    table {
        padding: 1rem;
        width: 100%;
        text-align: left;
    
        th {
            font-size: 1.4em;
            font-weight: bolder;
        }
    
        td {
            font-size: 1.4em;
        }
    
        td.price {
            text-align: right;
        }
    }
    
    div.navigation {
        border-radius: 0.5em;
        margin: 1em;
        padding: 1em;
        display: flex;
        width: calc(100vw - 2em);
        position: sticky;
        bottom: 0;
        user-select: none;
    
        div.spacer {
            width: 0.1em;
        }
        
        div.navigationElement {
            margin: 0.5em;
            height: 3em;
            border-radius: 1em;
            padding: 1em;
            width: calc(50vw - 1em);
            text-align: center;
            background-color: lightgray;
        }
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    
    h1 {
        text-align: left;
        font-size: 2em;
    }

    img {
        width: 2.5em;
        height: 2.5em;
    }
}

h1 {
    text-align: center;
    color: black;
    width: 100%;
    left: 0;
    font-size: 1.5em;
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

div.category {
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-weight: 700;
    user-select: none;

    p {
        font-weight: bold;
        font-size: 1.6em;
    }

    img.categoryIcon {
        height: 5em;
        width: 5em;
    }

    img.arrow {
        margin: 1em;
        height: 2.5em;
        width: 2.5em;
    }
}

div.link {
    padding: 1em;
    font-weight: normal;
    font-size: 1.3em;
    text-decoration: underline;
}

div.link.selected {
    padding: 1em;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: underline;
}

div.products {
    display: none;
}

div.products.selected {
    display: block;
}

.hidden {
    display: none;
}