<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>{{ page.companyName }}</title>
    <script>
        var selected = 0;

        function selectNew(clicked_id) {
            if (document.getElementById(clicked_id).classList.contains('link') && document.getElementById(selected.toString()).classList.contains('link')) {
                document.getElementById(selected.toString()).classList.remove('selected');
                document.getElementById(clicked_id).classList.add('selected');
            } else if (!document.getElementById(clicked_id).classList.contains('link') && document.getElementById(selected.toString()).classList.contains('link')) {
                document.getElementById(selected.toString()).classList.remove('selected');
                document.getElementById(clicked_id).classList.remove('btn-outline-dark');
                document.getElementById(clicked_id).classList.add('btn-dark');
            } else if (document.getElementById(clicked_id).classList.contains('link') && !document.getElementById(selected.toString()).classList.contains('link')) {
                document.getElementById(selected.toString()).classList.remove('btn-dark');
                document.getElementById(selected.toString()).classList.add('btn-outline-dark');
                document.getElementById(clicked_id).classList.add('selected');
            } else {
                document.getElementById(selected.toString()).classList.remove('btn-dark');
                document.getElementById(selected.toString()).classList.add('btn-outline-dark');
                document.getElementById(clicked_id).classList.remove('btn-outline-dark');
                document.getElementById(clicked_id).classList.add('btn-dark');
            }
            
            document.getElementsByName(selected.toString())[0].classList.remove('selected');
            document.getElementsByName(clicked_id)[0].classList.add('selected');
            selected = clicked_id;

            document.getElementById('category').innerHTML = document.getElementsByName('categoryText')[selected].textContent;

            scrollToRight();
        }

        function init() {
            document.getElementById(selected).classList.remove('btn-outline-dark');
            document.getElementById(selected).classList.add('btn-dark');
            document.getElementsByName(selected.toString())[0].classList.add('selected');
            document.getElementById('category').innerHTML = document.getElementsByName('categoryText')[selected].textContent;
        }
    </script>
    <script>
        function scrollToRight() {
            document.getElementById('window').scrollBy({left: document.body.clientWidth, top: 0, behavior:'smooth'});
            document.getElementById('content').scrollTo({top: 0, behavior:'smooth'});
        }

        function scrollToLeft() {
            document.getElementById('window').scrollBy({left: -document.body.clientWidth, behavior:'smooth'});
            document.getElementById('navigation').scrollTo({top: 0, behavior:'smooth'});
        }
    </script>
</head>
<body onload="init()">
    <div id="window" class="window">
        <div class="container-fluid section-wrapper">
            <section id="navigation">
                <header class="container justify-content-between">
                    <div onclick="window.open('{{ page.homepage }}', '_blank')" class="heading"><h1>{{ page.companyName }}</h1></div>
                    <a href="{{ page.phone }}"><img src="core_icons/phone.svg" alt="call"></a>
                </header>
                <div class="categories">
                    {% for category in categories %}
                    <button type="button" onclick="selectNew({{ category.id }})" class="category btn btn-lg btn-block btn-outline-dark" id="{{ category.id }}">
                        <p name="categoryText">{{ category.name }}</p>
                        <!-- <img class="categoryIcon" src="{{ category.icon }}" alt="category icon"> -->
                        
                        <!-- <img class="arrow" src="core_icons/arrow_right.svg" alt="go to arrow"> -->
                    </button>
                    {% endfor %}
                    <div onclick="selectNew({{ imprint.id }})" class="link" id="{{ imprint.id }}">
                        <p name="categoryText">Impressum</p>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalScrollable">
                        Über diese Seite
                    </button>
                    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sunt optio cupiditate? Itaque fugiat blanditiis explicabo iste quibusdam eligendi laboriosam ipsam necessitatibus tempora, repellat id delectus quod, minus, deleniti nobis.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" onclick="window.open('www.peekbar.de', '_blank')">Zu PEEKBAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="navigation">
                <div class="container-fluid">
                    <div class="row justify-content-around">
                        <div class="col">
                            <button onclick="scrollToRight()" id="category" type="button" class="btn btn-dark btn-lg btn-block"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg section-wrapper">
            <section id="content" class="content">
                {% for category in categories %}
                <div class="products" name="{{ category.id }}">
                    {% for product in category.products %}
                    <div class="product">
                        <p>{{ product.name }}</p>
                        <p>{{ product.additives }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="products" name="{{ imprint.id }}">
                    <p>Impressum</p>
                </div>
            </section>
            <div class="navigation">
                <div class="container-fluid">
                    <div class="row justify-content-around">
                        <div class="col">
                            <button onclick="scrollToLeft()" type="button" class="btn btn-dark btn-lg btn-block">
                                Navigation
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>